body, html {
    margin: 0;
    padding: 0;
    font-family: 'AgencyFB', Arial, sans-serif;
    color: #333;
    height: auto;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.443);
    cursor: none;
}

body {
    background-color: rgba(0, 0, 0, 0.596);
}

.profile-picture img {
    box-shadow: 0 0 10px rgb(62, 0, 154);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid rgb(0, 0, 0);
}

main {
    padding: 20px;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-align: center;
}

.about {
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.682);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(15, 0, 46);
    text-align: center;
}

.projects {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.782);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(15, 0, 46);
    text-align: center;
    margin-top: 20px; 
}

.project-box {
    margin: 20px auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.202);
    display: inline-block;
    text-align: center;
}

.project-box img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    border: 4px solid #0d0027;
}

h1, h2 {
    margin: 10px 0;
    color: #fff;
}

p {
    color: #fff;
    margin: 10px 0;
}

.cursor {
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #f5f5f5;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.1s;
}    

.cursor2 {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: #c6c6c6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}   