body {
    font-family: "Impact", static;
    font-size: 40px;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    

.projects {
    padding: 12px;
    margin-top: 12px;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(129, 2, 255);
    text-align: left;
}

.projects h2 {
    margin: 10px 0;
    color: #fff;
    text-align: center;
}

.projects ul {
    list-style-type: none;
    padding: 0;
}

.projects li {
    text-align: center;
    text-decoration: ;
    margin-bottom: 10px;
}

.projects h3 {
    margin: 5px 0;
    color: #fff;
}

.projects p {
    margin: 5px 0;
    color: #ffffffe8;
}

.project-image {
    width: auto;
    height: auto;
    box-align:center;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3); 
}
}